body{
    background-color: rgb(229, 240, 199);
}
div{
    margin: 0px;
}
div:hover{
    background-color: aqua;
}
#side{
    margin-left: 600px;
    margin-bottom: 50px;
}
h1{
    margin-left: 580px;
}
